.stat-widget {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-icon {
    display: block;
    color: gray;
}

.stat-label {
    color: gray;
    font-size: 0.7rem;
}

.stat-count {
    display: block;
    color: #F26101
}
