/*
#F9FAFC
#304269
#F26101
*/

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: #F9FAFC;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F9FAFC;
  font-family: 'Roboto', sans-serif;
}

#root {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  margin: 0.5em;
}

header, h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  /*font-family: 'Lato';*/
}

main {
  /*font-family: 'Oswald';*/
}

/*.App-header {
  margin: 0;
  padding: 1rem;
  background-color: white;
  font-family: 'Lato', sans-serif;
}*/

.mui-btn--accent {
  /*color: #FFF;
  background-color: #FF4081;*/
}

label {
    color: #668;
    font-size: small;
}

.mui-appbar {
  padding: 0.1rem 1rem;
  color: #F9FAFC;
  background-color: #304269;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.sr-only { /* https://webaim.org/techniques/css/invisiblecontent/ */
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

header h1, nav {
  display: inline;
}

#categories-list {
  display: inline-flex;
  flex-wrap: wrap;
}

.categories-list-container {
  display: inline;
  margin-left: 1rem;
  font-size: small;
}

#categories-list li {
  display: inline;
  margin: 0.5rem;
  text-transform: uppercase;
   color: #F26101;
}

#categories-list li a {
  display: inline;
  text-decoration: none;
  color: #F9FAFC;
}

.footer {
  /*background-color: black;
  color: #aaa;*/
  font-size: small;
  /*font-family: 'Oswald';*/
  width: 100%;
  /*position: fixed;
  bottom: 0;*/
  max-width: 42rem;
  padding: 0.1rem 1rem;
}

.footer-copyright {
  margin: 1rem 0;
}

.toolbar {
  background-color: #f3f3f3;
  padding: 0.5rem 1rem;
  display: flex;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.post-item-container a {
  font-size: larger;
}

.post-list-item {
  /*font-family: 'Lato';*/
  /*margin: 1em;
  padding: 1em;
  background-color: white;*/
}

.post-detail-container {
  /*padding: 0 1rem;*/
  background-color: white;
}

.post-detail-container header {
  padding: 2rem 1rem;
  /*background-color: #F9FAFC;*/
}

.post-detail-container h2 {
  text-transform: uppercase;
}

.post-subheader {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.post-author-widget {
  margin: 0.5em 0;
}

.post-author-tag {
  display: inline-block;
  color: white;
  background-color: #304269;
  /*padding: 0.5em;*/
  width: 2em;
  height: 2em;
  border-radius: 50%;
  line-height: 2em;
  text-align: center;
  vertical-align: middle;
}

.post-author-name {
  color: #F26101;
  margin-left: 0.5em;
}

.post-ts {
  color: gray;
}

.post-content {
  margin: 1rem;
  margin-bottom: 0;
  background-color: white;
}

.comments-list-container {
   /*background-color: #F9FAFC;*/
   padding: 2rem 1rem;
}

/*.comments-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}*/

article.comment {
  border-bottom: #eee 1px solid;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.comment-subheader {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.comment-author-widget {
  margin: 0.5em 0;
}

.comment-author-tag {
  display: inline-block;
  color: white;
  background-color: #304269;
  /*padding: 0.5em;*/
  width: 2em;
  height: 2em;
  border-radius: 25%;
  line-height: 2em;
  text-align: center;
  vertical-align: middle;
}

.comment-author-name {
  color: #F26101;
  margin-left: 0.5em;
}

.comment-ts {
  color: gray;
}

.form-inline {
  padding: 2rem 1rem;
  background-color: white;
}
